{% extends 'base.html.twig' %}

{% block title %}Liste des employés{% endblock %}

{% block body %}
    <table id="example" class="table table-striped table-bordered" style="width:100%">
   <thead>
    <tr>
    <th>matricule</th>
    <th>nom complet</th>
    <th> date de naissance</th>
    <th>salaire</th>
    <th>service</th>
    <th>modifier</th>
    <th>supprimer</th>
    </tr>
</thead>
<tbody>
{% for employe in employes %}
<tr>
<td>{{employe.matricule}}</td>
<td>{{employe.nomcomplet}}</td>
<td>{{employe.datenaiss|date('Y-m-d')}}</td>
<td>{{employe.salaire}}</td>
<td>{{employe.service.libelle}}</td>
<td><a href="{{path('blog_edit', {'id': employe.id})}}" class="btn btn-success">modifier</a></td>
<td><a href="{{path('blog_supprimer', {'id': employe.id})}}" class="btn btn-danger">supprimer</a></td>

</tr>
   
   {% endfor %}
</tbody>
    </table>

{% endblock %}
